.main_bg {
  width: 100%;
  background: var(--gradient);
}

.main {
  display: grid;
  grid-template-rows: 1fr 1fr;
  gap: 9.375rem;
  place-items: center;

  max-width: 1600px;
  margin: 0 auto;
  padding: 9.375rem 18.75rem;
}

@media screen and (max-width: 1420px) {
  .main {
    padding: 4.6875rem 9.375rem;
  }
}

@media screen and (max-width: 800px) {
  .main {
    padding: 4.6875rem;
  }
}

@media screen and (max-width: 650px) {
  .main {
    padding: 2.34375rem;
  }
}

@media screen and (max-width: 440px) {
  .main {
    padding: 2.34375rem 1.171875rem;
  }
}

@media screen and (max-width: 390px) {
  .main {
    padding: 2.34375rem 0.5859375rem;
  }
}
